<header>
  <div class="title">
    <h1 id="title-title">FinTrack</h1>
    <p id="title-text">Your Personal Finance Tracker</p>
  </div>
  <nav class="nav-bar">
    <ul>
      <li class="nav-link">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-link">
        <%= link_to "About Us", home_about_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Features", home_features_path %>
      </li>

      <% if !user_signed_in? %>
      <li class="nav-link">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Sign in", new_user_session_path %>
      </li>
      <% end %>

      <% if user_signed_in? %>
      <li class="nav-link">
        <%= link_to "Show Records", records_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Edit Profile", edit_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>