<div id="<%= dom_id record %>">
  <p>
    <strong>Income details:</strong>
    <%= record.income_details %>
  </p>

  <p>
    <strong>Income amount:</strong>
    <%= record.income_amount %>
  </p>

  <p>
    <strong>Expenditure details:</strong>
    <%= record.expenditure_details %>
  </p>

  <p>
    <strong>Expenditure amount:</strong>
    <%= record.expenditure_amount %>
  </p>

  <p>
    <strong>Expenditure category:</strong>
    <%= record.expenditure_category %>
  </p>

</div>
