<div id="<%= dom_id record %>">
  <% if record.income_details != "" %>
  <p>Income Details:<%= record.income_details %></p>
  <p>Income Amount:<%= record.income_amount %></p>
  <% elsif record.expenditure_details != "" %>
  <p>Expenditure Details:<%= record.expenditure_details %></p>
  <p>Expenditure Amount:<%= record.expenditure_amount %></p>
  <p>Expenditure Category:<%= record.expenditure_category %></p>
  <% else %>
  <p>Record not found</p>
  <% end %>
</div>